.navbar{
    position: absolute !important;
    z-index: 200;
    width: 100%;
    background-color: #ffffff !important;
    /* box-shadow: 1px 1px 1px 1px #c5c5c5; */
}

.all{
    /* padding: 0 15% 0 15%; */
}